---
import BaseLayout from "../layouts/BaseLayout.astro";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
let pageTitle = "About"
---
<BaseLayout pageTitle = {pageTitle} >
	<p>my skills are: </p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul> </BaseLayout>
	